.container{
    position: relative;
    margin: 10px;
    background-color: silver;
    padding: 10px 10px 10px 10px;
}
hr{
    border: dashed;
    border-width: 2px;
}
h3{
    background-color: brown;
}